body {
    font-family: 'Segoe UI', sans-serif;
    background: #fcecff; /* rosita muy suave */
    padding: 40px;
}

h2 {
    text-align: center;
    color: #d63384; /* rosa más fuerte */
    font-weight: 700;
}

form {
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 8px 25px rgba(255, 140, 200, 0.25); /* sombrita rosada */
    border: 2px solid #ffb7e1;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: #d63384;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ffb7e1;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    background: #fff6fa;
}

/* Efecto rosita al hacer click */
input:focus, textarea:focus, select:focus {
    border-color: #d63384;
    background-color: #ffe3f2;
    box-shadow: 0 0 8px rgba(214, 51, 132, 0.4);
    outline: none;
}

/* Checkbox rosita */
input[type="checkbox"] {
    width: auto;
    transform: scale(1.3);
    accent-color: #d63384; /* rosa */
    margin-right: 10px;
}

/* Botón girly */
button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background: #d63384;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background: #b0266c;
}

/* Footer rosita */
footer {
    text-align: center;
    margin-top: 25px;
    color: #b0266c;
    font-size: 14px;
}
